<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128786751432-s856dks8bfv6a5hsdv1tp8hf3rcmipp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128786751432-s856dks8bfv6a5hsdv1tp8hf3rcmipp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdL7W7HeWifGYPW8Ptu4KpdB540cSslpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>128786751432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WSU.ARNotebook</string>
	<key>PROJECT_ID</key>
	<string>arnotebook-16d10</string>
	<key>STORAGE_BUCKET</key>
	<string>arnotebook-16d10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128786751432:ios:8bcdfd6083280f1f</string>
	<key>DATABASE_URL</key>
	<string>https://arnotebook-16d10.firebaseio.com</string>
</dict>
</plist>